<%= render Atoms::CardComponent.new(html_class: '')  do %>
  <div class="flex items-center justify-between mb-4">
    <span class="font-light"><%= @post_date %></span>
  </div>
  <article class="prose lg:prose-lg xl:prose-xl prose-zinc">
    <h2>
      <%= @post_title %>
    </h2>
    <p>
      <%= content %>
    </p>
  </article>
  <hr class='my-4'/>
  <div class="flex items-center justify-between mt-4">
    <%= render Atoms::LinkComponent.new(path: @read_more_href) do %>
      Read More
    <% end %>
    <%= render Atoms::UserNamePlateComponent.new(name: @author_name, image_url: @author_image_url, detail_href: @author_detail_href, detail_turbo_frame_id: detail_turbo_frame_id) %>
  </div>
<% end %>
