<%= render Atoms::CardComponent.new(html_class: 'prose lg:prose-lg xl:prose-xl prose-zinc')  do %>
  <div class="flex items-center justify-between">
    <span class="font-light"><%= @post_date %></span>
  </div>
  <div class="">
    <a href="<%= @read_more_href %>">
      <h2><%= @post_title %></h2>
    </a>
    <div class="">
      <%= content %>
    </div>
  </div>
  <div class="flex items-center justify-between mt-4">
    <a href="<%= @read_more_href %>" class="text-blue-500 hover:underline">Read more</a>
    <%= render Atoms::UserNamePlateComponent.new(name: @author_name, image_url: @author_image_url) %>
  </div>
<% end %>
