<% cache [:show, @post] do %>
  <%= render Templates::TwoColumnComponent.new do |page_template| %>
    <%= page_template.main_content do %>
      <% cache [:post_component, @post] do %>
        <%= render Organisms::PostComponent.new(post: @post) do %> 
          <hr />
          <div class='mt-5'>
            <turbo-frame id="<%= "applauds_#{dom_id(@post)}" %>" src="<%=applauds_post_path(@post, format: :turbo_stream)%>" target='_top'>
            </turbo-frame>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <%= page_template.side_content do %>
      <div class='grid grid-cols-1 gap-4'>
        <div>
          <%= render Atoms::CardComponent.new do %>
            <div class='grid grid-cols-1 gap-2'>
              <% if PostPolicy.new(@current_user, @post).edit? %>
                <%= render Atoms::LinkComponent.new(variant: :text, path: edit_post_path(@post), options: { class: 'flex items-center gap-2' }) do %>
                  <%= heroicon 'pencil', options: { class: 'h-4' } %> Edit Post
                <% end %>
              <% end %>
              <%= render Atoms::LinkComponent.new(variant: :text, path: posts_path, options: { class: 'flex items-center gap-2' }) do %>
                <%= heroicon 'arrow-left', options: { class: 'h-4' } %>
                Back to posts
              <% end %>
            </div>
          <% end %>
        </div>
        <div>
          <div class='mb-4 text-xl font-bold text-gray-700'>More from this author</div>
          <%= render Atoms::CardComponent.new do %>
            <div class='grid grid-cols-1 gap-2'>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
