<%= render Templates::TwoColumnComponent.new do |page_template| %>
  <% page_template.main_content do %>
    <div>
      <div class="flex items-center justify-between">
        <h1 class="text-xl font-bold text-gray-700 md:text-2xl">Posts</h1>
        <div>
          <select class="w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            <option>Latest</option>
            <option>Last Week</option>
          </select>
        </div>
      </div>
      <div class='lg:hidden'>
        <% if PostPolicy.new(@current_user, nil).create? %>
          <%= render Atoms::LinkComponent.new(path: new_post_path, variant: :button, options: { class: 'text-sm flex items-center gap-2' }) do %>
            <%= heroicon('document-text', options: { class: 'h-4' }) %>
            New Post
          <% end %>
        <% end %>
      </div>
    </div>
    <% @posts.each do |post| %>
      <div class='invisible min-h-[200px] mt-6' data-controller='delayed-visibility' data-post-id="<%= post.id %>">
        <turbo-frame loading="lazy" id="<%=dom_id(post) %>" src="<%=post_path(post, format: :turbo_stream)%>" class='hidden' data-delayed-visibility-target='frame'>
          <%= render init_loading_preview %>
        </turbo-frame>
      </div>
    <% end %>
  <% end %>

  <% page_template.side_content do %>
    <div class='px-8 hide: lg:block'>
      <%= render Atoms::CardComponent.new do %>
        <% if PostPolicy.new(@current_user, nil).create? %>
          <%= render Atoms::LinkComponent.new(path: new_post_path, options: { class: 'flex items-center gap-2' }) do %>
            <%= heroicon('document-text', options: { class: 'h-4' }) %>
            New Post
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class='px-8 md:mt-10'>
      <div class='mb-4 text-xl font-bold text-gray-700'>Authors</div>
      <turbo-frame id='authors' src="<%= authors_path(format: :turbo_stream) %>">
        <%= render Atoms::CardComponent.new do %>
          Loading Authors
        <% end %>
      </turbo-frame>
    </div>

  <% end %>
<% end %>
