<%= render Templates::TwoColumnComponent.new do |page_template| %>
  <%= page_template.main_content do %>
    <%= render Atoms::CardComponent.new do %>
      <div class="text-4xl font-bold text-gray-700">
        Edit Post
      </div>
      <turbo-frame id='edit-post' target="_top">
        <%= render Organisms::PostFormComponent.new(post: @post) %>
      </turbo-frame>
    <% end %>
  <% end %>

  <%= page_template.side_content do %>
    <%= render Atoms::CardComponent.new do %>
      <div class='grid grid-cols-1 gap-2'>
        <div>
          <%= render Atoms::LinkComponent.new(variant: :text, path: post_path(@post), options: { class: 'text-black hover:underline flex items-center gap-2' }) do %>
            <%= heroicon 'search', variant: :outline, options: { class: 'h-4' } %>
            View Post 
          <% end %>
        </div>
        <div>
          <%= render Atoms::LinkComponent.new(variant: :text, path: posts_path, options: { class: 'text-black hover:underline flex items-center gap-2' }) do %>
            <%= heroicon 'arrow-left', options: { class: 'h-4' } %>
            Back to posts
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
