<%= render Atoms::CardComponent.new do %>
  <div class='prose lg:prose-lg xl:prose-xl mx-auto'>
    <div class="font-light text-gray-600"><%= @post_date.present? ? @post_date : 'N/A'  %></div>
    <h1>
      <%= @post_title %>
    </h1>
    By: <%= @author_name %>
    <div class="">
      <hr />
      <div class="">
        <%= @post_content %>
        <%= content %>
      </div>
    </div>
  </div>
<% end %>
