<%= render Templates::TwoColumnComponent.new do |page_template| %>
  <%= page_template.main_content do %>
    <%= render Atoms::CardComponent.new do %>
      <div class="text-4xl font-bold text-gray-700">
        Start a new post
      </div>
      <%= render Organisms::PostFormComponent.new(post: @post) %>
    <% end %>
  <% end %>

  <%= page_template.side_content do %>
    <%= render Atoms::CardComponent.new do %>
      <div class='grid grid-cols-1 gap-2'>
        <div>
          <%= render Atoms::LinkComponent.new(variant: :text, path: posts_path, options: { class: 'text-black hover:underline' }) do %>
            Back to posts
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
